/target

/work_dir
groth16_proof/groth16/pot23.ptau
groth16_proof/groth16/pot19.ptau
groth16_proof/groth16/verify_for_guest_0000.zkey
groth16_proof/groth16/verify_for_guest_0001.zkey
groth16_proof/groth16/verify_for_guest_final.zkey
groth16_proof/groth16/verify_for_guest_verification_key.json
groth16_proof/groth16/verifier.sol
groth16_proof/groth16/test_verify_for_guest_0000.zkey
groth16_proof/groth16/test_verify_for_guest_0001.zkey
groth16_proof/groth16/test_verify_for_guest_final.zkey
groth16_proof/groth16/test_verify_for_guest_verification_key.json
groth16_proof/groth16/test_verifier.sol
guests/target
guests/final-circuit/target
guests/header-chain/target
guests/final-circuit/guest/target
guests/header-chain/guest/target
*.bin