/target

/work_dir
groth16_proof/groth16/pot23.ptau
groth16_proof/groth16/pot19.ptau
groth16_proof/groth16/verify_for_guest_0000.zkey
groth16_proof/groth16/verify_for_guest_0001.zkey
groth16_proof/groth16/verify_for_guest_final.zkey
groth16_proof/groth16/verify_for_guest_verification_key.json
groth16_proof/groth16/verifier.sol
groth16_proof/groth16/test_verify_for_guest_0000.zkey
groth16_proof/groth16/test_verify_for_guest_0001.zkey
groth16_proof/groth16/test_verify_for_guest_final.zkey
groth16_proof/groth16/test_verify_for_guest_verification_key.json
groth16_proof/groth16/test_verifier.sol
groth16_proof/fflonk/pot24.ptau
groth16_proof/fflonk/fflonk_verification_key.json
groth16_proof/fflonk/fflonk.zkey
groth16_proof/fflonk/test_fflonk_verifier.sol
groth16_proof/fflonk/test_fflonk_verification_key.json
groth16_proof/fflonk/test_fflonk.zkey
groth16_proof/fflonk/test_fflonk_verifier.sol
risc0_circuitss/bitcoin-pow/methods/guest/target
risc0_circuits/bitcoin-pow/methods/target
risc0_circuits/bitcoin-pow/target
risc0_circuits/target
risc0_circuits/verify-stark/target
block_header_proofs
headers.bin
*.bin