/target

/work_dir
proof/groth16/pot23.ptau
proof/groth16/pot19.ptau
proof/groth16/verify_for_guest_0000.zkey
proof/groth16/verify_for_guest_0001.zkey
proof/groth16/verify_for_guest_final.zkey
proof/groth16/verify_for_guest_verification_key.json
proof/groth16/verifier.sol
proof/groth16/test_verify_for_guest_0000.zkey
proof/groth16/test_verify_for_guest_0001.zkey
proof/groth16/test_verify_for_guest_final.zkey
proof/groth16/test_verify_for_guest_verification_key.json
proof/groth16/test_verifier.sol
proof/fflonk/pot24.ptau
proof/fflonk/fflonk_verification_key.json
proof/fflonk/fflonk.zkey
proof/fflonk/test_fflonk_verifier.sol
proof/fflonk/test_fflonk_verification_key.json
proof/fflonk/test_fflonk.zkey
proof/fflonk/test_fflonk_verifier.sol
risc0_circuitss/bitcoin-pow/methods/guest/target
risc0_circuits/bitcoin-pow/methods/target
risc0_circuits/bitcoin-pow/target
risc0_circuits/target
risc0_circuits/verify-stark/target
block_header_proofs
headers.bin